@import url('https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patrick+Hand+SC&display=swap');

* {
    font-family: 'Patrick Hand', cursive;
}

html {
    background-color: #1b1b1d;
}

button {
    border-radius: 20rem;
    width: 6rem;
}
  
#container {
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    text-align: center;
}

#info {
    color: white;
}

#results {
    font-size: 56pt;
    font-family: 'Patrick Hand SC', cursive;
    border-bottom: 2px solid #ffffff;
}

#name {
    margin-top: 3rem;
}