@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif
}

html {
    background: #1b1b1d;
}

.bottombutton {
    position: absolute; 
    right: 0; 
    bottom: 0;
    margin: 1.5rem;
    border-radius: 20rem;
}

.nav {
    margin: 0;
    padding: 0.5rem;
    background-color: #1b1b1d;
    color: white;
    text-align: center;
}

.logo {
    display: block;
    margin: auto;
    padding: 0.5rem;
    height: 5rem;
    width: auto;
}